    body {
        color: #000000;
        font-family: 'Raleway', sans-serif;
        background-color: snow;
        width: 100%;
        overflow-x: hidden;
    }
    
    .branding-header {
        background-color: snow;
        color: #000000;
        width: 100%;
        margin: 0px;
    }
    
    .brand {
        height: 120px;
        display: block;
        margin: auto;
    }
    
    .brand-txt {
        display: flex;
        text-align: center;
        justify-content: center;
        flex-direction: column;
        height: 120px;
    }
    
    .brand-txt h1 {
        font-size: 4em;
        margin-top: 5px;
        font-family: 'Grand Hotel', cursive;
        margin-bottom: 5px;
    }
    
    .brand-txt h2 {
        margin-top: 3px;
        font-size: 20px;
        font-weight: 600;
    }
    
    .brand-right {
        padding-right: 0;
    }
    
    .brand-left {
        padding-left: 0;
    }
    
    .quick-info {
        display: flex;
        text-align: center;
        justify-content: center;
        flex-direction: column;
        height: 120px;
    }
    
    .quick-info li {
        list-style-type: none;
        font-weight: bold;
    }
    
    .quick-info li a {
        color: #232323;
        font-weight: normal;
    }
    /* Sticky footer styles
-------------------------------------------------- */
    
    html {
        position: relative;
        min-height: 100%;
    }
    
    body {
        /* Margin bottom by footer height */
        margin-bottom: 60px;
    }
    
    .footer {
        position: absolute;
        bottom: 0;
        width: 100vw;
        /* Set the fixed height of the footer here */
        min-height: 60px;
        background-color: #bcbcbc;
        color: #000000;
    }
    
    .text-muted {
        margin-top: 20px;
    }
    /* @media screen and (max-width: 991px) {
        .brand-right {
            display: none;
        }
        .brand-txt {
            margin-left: 10px;
            margin-right: 10px;
        }
        .page-content {
            margin-left: 0vw;
        }
    } */
    /*Business Card Css */
    
    .business-card {
        border: 1px solid #cccccc;
        background: #f8f8f8;
        padding: 10px;
        border-radius: 4px;
        margin-bottom: 10px;
        color: black;
    }
    
    .profile-img {
        height: 120px;
        background: white;
    }
    
    .job {
        color: #666666;
        font-size: 17px;
    }
    
    .mail {
        color: #666666;
        font-size: 16px;
    }
    
    @media screen and (max-width: 1200px) {
        .profile-img {
            height: 100px;
        }
        .job {
            font-size: 15px;
        }
        .mail {
            font-size: 14px;
        }
        .media-heading {
            font-size: 25px;
        }
    }
    
    @media (min-width: 1200px) {
        .container {
            width: 92vw;
        }
    }
    
    @media screen and (max-width: 445px) {
        .media-body,
        .media-left {
            display: block;
            width: 100%;
        }
        .profile-img {
            margin: 0 auto;
        }
        .profile-img,
        .job,
        .mail,
        .media-heading {
            text-align: center;
        }
    }
    
    #random-photo {
        padding: 10px;
    }
    
    .fa-google,
    .fa-facebook-square {
        color: snow;
        padding: 10px;
    }
    
    .google-maps {
        position: relative;
        padding-bottom: 93vh; // (450 ÷ 500 = 0.9 = 90%)
        height: 0;
        overflow: hidden;
    }
    
    .google-maps iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 90vh;
    }
    
    .contact-columns {
        text-align: center;
        width: 100%;
    }
    
    .contact-circle {
        width: 140px;
        height: 140px;
        -moz-border-radius: 70px;
        -webkit-border-radius: 70px;
        border-radius: 70px;
        background-color: #dfdfdf;
        border: 2px solid snow;
        position: relative;
        display: table;
        margin: 0 auto;
    }
    
    .contact-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .detail-circle {
        width: 40px;
        height: 40px;
        -moz-border-radius: 20px;
        -webkit-border-radius: 20px;
        border-radius: 20px;
        background-color: #080808;
        border: 2px solid snow;
        position: relative;
    }
    
    .detail-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .event-column {
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 254px;
        text-align: center;
    }
    /*   .carousel {
        background: #2f4357;
    }
    
    .carousel .item img {
        margin: 0 auto;
        Align slide image horizontally center 
    } */
    
    .img-slide1 {
        background-image: url(/img/modern-church-full.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 500px;
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }
    
    .img-slide2 {
        background-image: url(/img/altar.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 500px;
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }
    
    .img-slide3 {
        background-image: url(/img/auction.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 500px;
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }
    
    .carousel-indicators {
        margin-bottom: 0px;
    }
    
    .carousel-indicators li {
        border: 1px rgba(255, 255, 255, 0.5);
        background-color: rgba(255, 255, 255, 0.5);
        margin-left: 4px;
        margin-right: 4px;
    }
    
    .carousel-indicators .active {
        margin-left: 4px;
        margin-right: 4px;
    }
    
    .carousel-caption {
        top: 50%;
        transform: translateY(-50%);
        bottom: initial;
        text-align: center;
        right: 33%;
        text-align: center;
        max-width: 33%;
        left: 33%;
    }
    
    .carousel-caption p {
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        padding: 15px;
        font-size: 24px;
        font-weight: 600;
        color: snow;
        text-shadow: none;
    }
    
    .btn {
        padding: 5px 25px;
        border: 1px;
        font-weight: 600;
        font-size: 21px;
        background-color: #ffffff;
        border-radius: 3px;
        margin: 10px 10px 10px 10px;
    }
    
    .btn:focus,
    .btn:active:focus,
    .btn.active:focus {
        outline: 0 none;
    }
    
    .btn-primary {
        background: #0099cc;
        color: #ffffff;
    }
    
    .btn-primary:hover,
    .btn-primary:focus,
    .btn-primary:active,
    .btn-primary.active,
    .open>.dropdown-toggle.btn-primary {
        background: #33a6cc;
    }
    
    .btn-primary:active,
    .btn-primary.active {
        background: #007299;
        box-shadow: none;
    }
    
    .btn-inv {
        color: #333333;
        background-color: #F5F5F5;
        border-color: #ABABAB;
    }
    
    .btn-inv:hover,
    .btn-inv:focus,
    .btn-inv:active,
    .btn-inv.active,
    .open .dropdown-toggle.btn-inv {
        color: #333333;
        background-color: #E6E6E6;
        border-color: #ABABAB;
    }
    
    .btn-inv:active,
    .btn-inv.active,
    .open .dropdown-toggle.btn-inv {
        background-image: none;
    }
    
    .btn-inv.disabled,
    .btn-inv[disabled],
    fieldset[disabled] .btn-inv,
    .btn-inv.disabled:hover,
    .btn-inv[disabled]:hover,
    fieldset[disabled] .btn-inv:hover,
    .btn-inv.disabled:focus,
    .btn-inv[disabled]:focus,
    fieldset[disabled] .btn-inv:focus,
    .btn-inv.disabled:active,
    .btn-inv[disabled]:active,
    fieldset[disabled] .btn-inv:active,
    .btn-inv.disabled.active,
    .btn-inv[disabled].active,
    fieldset[disabled] .btn-inv.active {
        background-color: #F5F5F5;
        border-color: #ABABAB;
    }
    
    .btn-inv .badge {
        color: #F5F5F5;
        background-color: #333333;
    }
    
    .btn-calendar {
        margin-top: 15px;
    }
    
    .btn-staff {
        margin-bottom: 15px;
    }
    
    .navbar {
        border-radius: 0px;
        margin-bottom: 0px;
    }
    /* https://work.smarchal.com/twbscolor/css/dfdfdfefefef0000000000001 */
    
    .navbar-default {
        background-color: #dfdfdf;
        border-color: #efefef;
    }
    
    .navbar-default .navbar-brand {
        color: #000000;
    }
    
    .navbar-default .navbar-brand:hover,
    .navbar-default .navbar-brand:focus {
        color: #000000;
    }
    
    .navbar-default .navbar-text {
        color: #000000;
    }
    
    .navbar-default .navbar-nav>li>a {
        color: #000000;
    }
    
    .navbar-default .navbar-nav>li>a:hover,
    .navbar-default .navbar-nav>li>a:focus {
        color: #000000;
    }
    
    .navbar-default .navbar-nav>li>.dropdown-menu {
        background-color: #dfdfdf;
    }
    
    .navbar-default .navbar-nav>li>.dropdown-menu>li>a {
        color: #000000;
    }
    
    .navbar-default .navbar-nav>li>.dropdown-menu>li>a:hover,
    .navbar-default .navbar-nav>li>.dropdown-menu>li>a:focus {
        color: #000000;
        background-color: #efefef;
    }
    
    .navbar-default .navbar-nav>li>.dropdown-menu>li>.divider {
        background-color: #efefef;
    }
    
    .navbar-default .navbar-nav .open .dropdown-menu>.active>a,
    .navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu>.active>a:focus {
        color: #000000;
        background-color: #efefef;
    }
    
    .navbar-default .navbar-nav>.active>a,
    .navbar-default .navbar-nav>.active>a:hover,
    .navbar-default .navbar-nav>.active>a:focus {
        color: #000000;
        background-color: #efefef;
    }
    
    .navbar-default .navbar-nav>.open>a,
    .navbar-default .navbar-nav>.open>a:hover,
    .navbar-default .navbar-nav>.open>a:focus {
        color: #000000;
        background-color: #efefef;
    }
    
    .navbar-default .navbar-toggle {
        border-color: #efefef;
    }
    
    .navbar-default .navbar-toggle:hover,
    .navbar-default .navbar-toggle:focus {
        background-color: #efefef;
    }
    
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #000000;
    }
    
    .navbar-default .navbar-collapse,
    .navbar-default .navbar-form {
        border-color: #000000;
    }
    
    .navbar-default .navbar-link {
        color: #000000;
    }
    
    .navbar-default .navbar-link:hover {
        color: #000000;
    }
    
    @media (max-width: 767px) {
        .navbar-default .navbar-nav .open .dropdown-menu>li>a {
            color: #000000;
        }
        .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,
        .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus {
            color: #000000;
        }
        .navbar-default .navbar-nav .open .dropdown-menu>.active>a,
        .navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover,
        .navbar-default .navbar-nav .open .dropdown-menu>.active>a:focus {
            color: #000000;
            background-color: #efefef;
        }
    }
    
    .gray-stripe {
        background-color: #dfdfdf;
    }
    
    .white-stripe {
        background-color: #ffffff;
    }
    
    .stripe {
        font-weight: 200;
        padding-top: 20px;
        padding-bottom: 20px;
        width: 100%;
        text-align: center;
    }
    
    .stripe h2 {
        text-align: center;
        margin-top: 0px;
        font-weight: 200;
        font-size: 35px;
    }
    
    .stripe p,
    .stripe ul li {
        font-size: 21px;
    }
    
    .lead-line {
        text-align: center;
        font-size: 2em;
    }
    
    .mission-statement ul {
        text-align: left;
    }
    
    .mission-statement {
        padding-left: 10vw;
        padding-right: 10vw;
    }
    
    .upcoming-events ul {
        width: 700px;
        /* change it to whatever you like */
        position: relative;
        /* these should be probably already set up by `reset.css` */
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    
    .upcoming-events ul:before,
    .upcoming-events ul:after {
        text-align: center;
        display: block;
        border: none;
        border-bottom: 0;
        width: 48%;
    }
    
    .upcoming-events ul:before {
        border-right: 0;
    }
    
    .upcoming-events ul:after {
        position: absolute;
        top: 0;
        left: 48%;
        margin-left: 1px;
    }
    
    .upcoming-events li {
        text-align: right;
        width: 48%;
        float: left;
        border: none;
        margin-bottom: -1px;
    }
    
    .upcoming-events li:nth-child(even) {
        margin-left: -1px;
    }
    
    .upcoming-events h2 {
        padding-bottom: 10px;
    }
    
    .upcoming-events h4 {
        font-size: 18px;
        font-weight: 500;
    }
    
    span {
        display: table;
        margin: 0 auto;
    }
    
    .date {
        font-size: 16px;
        font-weight: 200;
    }
    
    .upcoming-events {
        display: inline-block;
    }
    
    @media (max-width: 700px) {
        .upcoming-events ul {
            width: 90vw;
            /* change it to whatever you like */
        }
        .upcoming-events h4 {
            font-size: 16px;
            font-weight: 500;
        }
        .date {
            font-size: 14px;
            font-weight: 200;
        }
    }
    
    @media (max-width: 600px) {
        .upcoming-events ul {
            width: 90vw;
            /* change it to whatever you like */
        }
        .upcoming-events h4 {
            font-size: 16px;
            font-weight: 500;
        }
        .date {
            font-size: 14px;
            font-weight: 200;
        }
        .upcoming-events ul:before,
        .upcoming-events ul:after {
            text-align: center;
            display: block;
            border: none;
            border-bottom: 0;
            width: 100%;
        }
        .upcoming-events ul:before {
            border-right: 0;
        }
        .upcoming-events ul:after {
            top: 0;
            left: 100%;
            margin-left: 1px;
        }
        .upcoming-events li {
            width: 100%;
            border: none;
            margin-bottom: -1px;
        }
    }
    
    .photo-gallery {
        width: 420px;
        margin: 0 auto;
        left: 0;
        right: 0;
    }
    
    .daily-readings {
        margin: 0 auto;
        display: block;
    }
    
    .catholic-search {
        margin: 0 auto;
        width: 148px;
        text-align: center;
        display: block;
        position: fixed;
    }
    
    .facebook-embed {
        border: none;
        overflow: hidden;
        height: 425px;
        width: 420px;
    }
    
    @media (max-width: 1334px) {
        .brand {
            height: 100px;
            padding-left: 10px;
        }
        .brand-txt {
            height: 100px;
        }
        .brand-txt h1 {
            font-size: 46px;
        }
        .brand-txt h2 {
            font-size: 17px;
        }
        .quick-info {
            height: 100px;
        }
        .quick-info li {
            font-size: 12px;
        }
    }
    
    @media (max-width: 991px) {
        .brand-txt {
            display: flex;
            text-align: left;
            justify-content: center;
            flex-direction: column;
            height: 100px;
        }
        .navbar-header {
            float: none;
        }
        .navbar-toggle {
            display: block;
        }
        .navbar-collapse {
            border-top: 1px solid transparent;
            box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
        }
        .navbar-collapse.collapse {
            display: none!important;
        }
        .navbar-nav {
            float: none!important;
            margin: 7.5px -15px;
        }
        .navbar-nav>li {
            float: none;
        }
        .navbar-nav>li>a {
            padding-top: 10px;
            padding-bottom: 10px;
        }
        .navbar-text {
            float: none;
            margin: 15px 0;
        }
        /* since 3.1.0 */
        .navbar-collapse.collapse.in {
            display: block!important;
        }
        .collapsing {
            overflow: hidden!important;
        }
        .carousel-caption {
            right: 20%;
            max-width: 60%;
            left: 20%;
        }
    }
    
    @media (max-width: 813px) {
        .brand-right {
            display: none;
        }
        .site-title {
            width: 80vw
        }
    }
    
    @media (max-width: 590px) {
        .brand {
            height: 90px;
        }
        .brand-txt {
            height: 90px;
        }
        .brand-txt h1 {
            font-size: 2em;
        }
        .brand-txt h2 {
            font-size: 1em;
        }
        .site-title {
            padding-left: 40px;
        }
        .carousel-caption {
            right: 10%;
            max-width: 80%;
            left: 10%;
        }
    }
    
    @media (max-width: 500px) {
        #rndpic-a:nth-child(n+6) {
            display: none;
        }
        .photo-gallery {
            width: 280px;
        }
        .facebook-embed {
            width: 90%;
        }
    }
    
    .fw-iframe {
        width: 90%;
        height: 325px;
        border: none;
        padding-top: 30px;
    }
    
    .auction-album {
        border-radius: 30px;
    }
    
    .page-photo {
        border-radius: 10px;
    }
    
    .nocentre-list {
        text-align: left;
        margin-left: 10vw;
        margin-right: 10vw;
    }
    
    .facebook-embed,
    .daily-readings {
        overflow-y: hidden;
        border: none
    }
    
    .daily-readings {
        overflow: hidden;
    }
    
    .history-timeline {
        border: 0;
    }
