<div id="outdated"></div>
<div class="row branding-header">
    <div class="col-lg-2 col-md-3 col-xs-2 brand-left"><img class="brand" src="/img/church-logo.svg" alt="Immaculate Conception Logo"></div>
    <div class="col-lg-8 col-md-6 col-xs-7 site-title">
        <div class="brand-txt">
            <h1>Immaculate Conception Church</h1>
            <h2>Millhousen, Indiana</h2>
        </div>
    </div>
    <div class="col-lg-2 col-md-3 col-xs-3 brand-right">
        <div class="quick-info">
            <ul>
                <li>PLC: Sister Donna Prickel</li>
                <li id="mass">Mass: Sunday at 8 AM</li>
                <li><a href="tel:8125912362">(812) 591-2362</a></li>
            </ul>
        </div>
    </div>
</div>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="nav">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/about/staff/">Staff</a></li>
                        <li><a href="/about/lay-leadership/">Lay Leadership</a></li>
                        <li><a href="/about/history/">Parish History</a></li>
                        <li><a href="/about/mass/">Mass</a></li>
                        <li><a href="/about/mission-statement/">Mission Statement</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/about/directions/">Directions</a></li>
                        <li><a href="/about/contact/">Contact</a></li>
                    </ul>
                </li>
                <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Faith Formation <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/faith-formation/elementary/">Pre-K thru 5th Grade</a></li>
                        <li><a href="/faith-formation/high-school/">6th thru 12th Grade</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/faith-formation/rcia/">RCIA</a></li>
                    </ul>
                </li>
                <li><a href="/youth-ministry/">Youth Ministry</a></li>
                <li><a href="/sacraments/">Sacraments</a></li>
                <li><a href="/calendar/">Events Calendar</a></li>
                <li><a href="/bulletins/">Bulletins</a></li>
                <li><a href="/ministry-schedule/">Ministry Schedule</a></li>
                <li><a href="https://gallery.millhousenchurch.com/">Photo Gallery</a></li>
            </ul>
		<ul class="nav navbar-nav navbar-right">
              		<li><a href="/events/auction/">Auction</a></li>
		</ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
